html, body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
        #mobile-menu {
        display: none;
        }

        #mobile-menu.show {
            display: flex;
        }
        @keyframes jump {
            0% { transform: translateY(0); }
            30% { transform: translateY(-10px); }
            50% { transform: translateY(0); }
            70% { transform: translateY(-5px); }
            100% { transform: translateY(0); }
        }

        #go-top {
            animation: jump 1.5s infinite;
        }
